@model PolicyPro360.Models.Company
@{
    Layout = null;
}

<!doctype html>
<html lang="en" data-bs-theme="blue-theme">
<!-- Mirrored from codervent.com/maxton/demo/vertical-menu/auth-basic-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2025 04:28:28 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maxton | Bootstrap 5 Admin Dashboard Template</title>
    <!--favicon-->
    <link rel="icon" href="~/admin/assets/images/favicon-32x32.png" type="image/png">
    <!-- loader-->
    <link href="~/admin/assets/css/pace.min.css" rel="stylesheet">
    <script src="~/admin/assets/js/pace.min.js"></script>

    <!--plugins-->
    <link href="~/admin/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/plugins/metismenu/mm-vertical.css">
    <!--bootstrap css-->
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--main css-->
    <link href="~/admin/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/admin/sass/main.css" rel="stylesheet">
    <link href="~/admin/sass/dark-theme.css" rel="stylesheet">
    <link href="~/admin/sass/blue-theme.css" rel="stylesheet">
    <link href="~/admin/sass/responsive.css" rel="stylesheet">

</head>

<body class="bg-register">


    <!--authentication-->
    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5 mx-auto">
                <div class="card rounded-4 mb-0 border-top border-4 border-primary border-gradient-1">
                    <div class="card-body p-5">
                        <img src="~/assets/images/logo1.png" class="mb-4" width="145" alt="">
                        <h4 class="fw-bold">Get Started Now</h4>
                        <p class="mb-0">Enter your information to registered your company</p>

                        <div class="form-body my-4">
                            <form asp-action="Register" enctype="multipart/form-data" method="post" class="row g-3">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <h4>Company Information</h4>
                                <div class="col-12">
                                    <label asp-for="CompanyName" class="form-label">Company Name</label>
                                    <input asp-for="CompanyName" class="form-control" placeholder="Company Name" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="BusinessType" class="form-label">Business Type</label>
                                    <input asp-for="BusinessType" class="form-control" placeholder="Business Type" />
                                    <span asp-validation-for="BusinessType" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="IndustryType" class="form-label">Industry Type</label>
                                    <input asp-for="IndustryType" class="form-control" placeholder="Industry Type" />
                                    <span asp-validation-for="IndustryType" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Description" class="form-label">Description</label>
                                    <textarea asp-for="Description" class="form-control" placeholder="Description">Description</textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Country" class="form-label">Country</label>
                                    <input asp-for="Country" class="form-control" placeholder="Country" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="City" class="form-label">City</label>
                                    <input asp-for="City" class="form-control" placeholder="City" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Address" class="form-label">Address</label>
                                    <input asp-for="Address" class="form-control" placeholder="Address" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Email" class="form-label">Email</label>
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" class="form-control" placeholder="Enter password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="PhoneNo" class="form-label">Phone No</label>
                                    <input asp-for="PhoneNo" class="form-control" placeholder="Phone No" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">Phone No</label>
                                    <input type="file" name="CompanyLogoFile" class="form-control" />
                                </div>

                                <h4>Owner Information</h4>

                                <div class="col-12">
                                    <label asp-for="OwnerName" class="form-label">Owner Name</label>
                                    <input asp-for="OwnerName" class="form-control" placeholder="Owner Name" />
                                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerDOB" class="form-label">Owner DOB</label>
                                    <input asp-for="OwnerDOB" type="date" class="form-control" placeholder="19-11-2000" />
                                    <span asp-validation-for="OwnerDOB" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerNationality" class="form-label">Nationality</label>
                                    <input asp-for="OwnerNationality" class="form-control" placeholder="Nationality" />
                                    <span asp-validation-for="OwnerNationality" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerEmail" class="form-label">Owner Email</label>
                                    <input asp-for="OwnerEmail" class="form-control" placeholder="Owner Email" />
                                    <span asp-validation-for="OwnerEmail" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerPhoneNo" class="form-label">Owner Phone</label>
                                    <input asp-for="OwnerPhoneNo" class="form-control" placeholder="Owner Phone" />
                                    <span asp-validation-for="OwnerPhoneNo" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerRole" class="form-label">Role/Position</label>
                                    <input asp-for="OwnerRole" class="form-control" placeholder="Role/Position" />
                                    <span asp-validation-for="OwnerRole" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="OwnerCNIC" class="form-label">CNIC</label>
                                    <input asp-for="OwnerCNIC" class="form-control" placeholder="CNIC" />
                                    <span asp-validation-for="OwnerCNIC" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label>Upload Owner Image</label>
                                    <input type="file" name="OwnerImageFile" class="form-control" />
                                </div>

                                <h4>Registration Info</h4>

                                <div class="col-12">
                                    <label asp-for="RegistrationNo" class="form-label">Registration No</label>
                                    <input asp-for="RegistrationNo" class="form-control" placeholder="Registration No" />
                                    <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-grd-danger">Register Company</button>
                                    </div>
                                </div>
                            
                            </form>
                        </div>

                        <div class="col-12">
                            <div class="text-start">
                                Already Registered? <a href="@Url.Action("Login", "Company")"><p class="mb-0 text-white">Go To Login</p></a>
                            </div>
                        </div>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger mt-2">@ViewBag.ErrorMessage</div>
                        }

                        @if (TempData["success"] != null)
                        {
                            <div class="alert alert-success mt-2">@TempData["success"]</div>
                        }

                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>



    <script src="~/admin/assets/js/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
          $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass("bi-eye-slash-fill");
              $('#show_hide_password i').removeClass("bi-eye-fill");
            } else if ($('#show_hide_password input').attr("type") == "password") {
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass("bi-eye-slash-fill");
              $('#show_hide_password i').addClass("bi-eye-fill");
            }
          });
        });
    </script>


</body>

</html>