@model PolicyPro360.Models.TermsCondition
@{
    ViewData["Title"] = "Terms & Conditions Details - PolicyPro360";
    Layout = "../Shared/_Layout.cshtml";
}
<main class="main-wrapper">
    <div class="main-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Terms & Conditions Details</div>
        </div>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-body p-4">
                            <h5 class="mb-4">Terms & COnditions Details</h5>
                            <dl class="row">
                                <dt class="col-sm-4">Id</dt>
                                <dd class="col-sm-8">@Model.Id</dd>
                                <dt class="col-sm-4">Title</dt>
                                <dd class="col-sm-8">@Model.Title</dd>
                                <dt class="col-sm-4">Content</dt>
                                <dd class="col-sm-8">@Model.Content</dd>
                                <dt class="col-sm-4">Is Publishd</dt>
                                <dd class="col-sm-8">
                                    @if (Model.IsActive)
                                    {
                                        <span class="badge bg-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Inactive</span>
                                    }
                                </dd>
                                <dt class="col-sm-4">Created Date</dt>
                                <dd class="col-sm-8">@Model.CreatedAt.ToString("dd MMM, yyyy 'at' hh:mm tt")</dd>
                            </dl>
                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 